.box {
    width: 100px;
    height: 100px;
    background-color: #bada55;
    transition-duration: 1s;
    transition-property: width, background-color; /*chaining the properties together */
    transition-timing-function: ease-in-out; /* Defaults to ease */
    
}

.box:hover {
    width: 200px;
    background-color: #e84610;
}